* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins";
    font-weight: 500;
    background-color: #f6f6f6;
    height: 100vh;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
